.basic-container {
    margin: 20px;
}
.mat-grid-list {
    margin: 20px 15px 0px 0px;
}

.btn-order {
    display: flex;
    justify-content: flex-end;
}

.mat-card {
    margin: 10px;
    border-radius: 10px;
}

.mat-card > .mat-card-content {
    margin-top: 35px;
}

.div-btn {
    margin: 5rem;
    display: flex;
    justify-content: flex-end;
}

.button-add {
    position: fixed;
    bottom: 9rem;
    height: 70px;
    width: 70px;
}

.div-header {
    display: flex;
    margin-right: 1rem;
    justify-content: space-between;
}

.div-header > span {
    height: 35px;
    width: 35px;
    background-color: rgb(227, 94, 107);
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 500;
    margin-top: -8px;
    text-align: center;
    line-height: 2rem;
}

.mat-card-header .mat-card-title {
    font-size: 20px;
    font-weight: 500;
}