<mat-card class="dashboard mat-elevation-z3">
  <mat-card-title class="title">
    Atuaizar Conta 
  </mat-card-title>    
</mat-card>

<mat-card class="card-form">
    <form [formGroup]="formAccount">
      <mat-form-field>
          <mat-select class="form-control" id="update-mes" formControlName="mes" placeholder="Selecione o mes" class="--small">
            <mat-option *ngFor="let mes of meses" [value]="mes.codigo">{{mes.dsMes}}</mat-option>
          </mat-select>
      </mat-form-field>
  
      <mat-form-field>
          <mat-select class="form-control" id="update-conta" formControlName="conta" placeholder="Tipo de Conta" class="--small">
            <mat-option *ngFor="let conta of tipoContas" [value]="conta.codigo">{{conta.descricao}}</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <input matInput id="update-valorConta" formControlName="valorConta" placeholder="Valor da Conta (R$)" (keypress)="inputKeyPressAsBrlCurrency($event)">
      </mat-form-field>
  
      <mat-form-field>
          <input matInput [matDatepicker]="pickerDataVencimento" placeholder="Data de vencimento" id="update-dataVencimento" formControlName="dataVencimento" readonly="true">
          <mat-datepicker-toggle matSuffix [for]="pickerDataVencimento"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #pickerDataVencimento></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput [matDatepicker]="pickerDataPagamento" placeholder="Data de Pagamento" id="update-dataPagamento" formControlName="dataPagamento" readonly="true">
          <mat-datepicker-toggle matSuffix [for]="pickerDataPagamento"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #pickerDataPagamento></mat-datepicker>
        </mat-form-field>
  
      <mat-form-field>
          <mat-select class="form-control" id="update-status" formControlName="status" placeholder="Status de Conta" class="--small">
            <mat-option *ngFor="let status of statusContas" [value]="status.codigo">{{status.descricao}}</mat-option>
          </mat-select>
      </mat-form-field>
  
      <mat-form-field>
          <textarea matInput id="update-Comentario" placeholder="Comentario" formControlName="comentario" ></textarea>
      </mat-form-field>
    </form>
  
    <button mat-raised-button id="update-btn-save" (click)="update()" color="primary" [disabled]="!formAccount.valid || addCan">
      Atualizar
    </button>
    <button mat-raised-button id="update-btn-cancel" (click)="cancel()">Cancelar</button>
  </mat-card>
  